<!DOCTYPE html>
<html ng-app="campus360">
<head>
    <meta charset="UTF-8">
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>Student Registration Form</title>
</head>
<body ng-controller="dashboardController">

    <h2>{{collegename}}</h2>
    <input type="text" ng-model="collegename">
    <p>Total Student: <b>{{totstud}}</b></p>
    <input type="text" ng-model="totstud">
    <button ng-click="totstud = totstud + 1">Add Student</button>


    <p>Total Faculty: <b>{{totfac}}</b></p>
    <input type="text" ng-model="totfac">


    <p>Name:<b>{{name}}</b></p>
    <input type="text" ng-model="name">


    <p>Department:<b>{{department}}</b></p>
    <input type="text" ng-model="department">


    <p>Email:<b>{{email}}</b></p>
    <input type="text" ng-model="email">


    <p>Phone Number:<b>{{phone}}</b></p>
    <input type="text" ng-model="phone">

<h1>Student List</h1>
<ul>
    <li ng-repeat="student in students">
        {{student}}
    </li>
</ul>


</body>
</html>